@font-face {
  font-family: Circe-Regular;
  src: url(../fonts/Circe-Regular.woff2);
}

@font-face {
  font-family: Circe-Bold;
  src: url(../fonts/Circe-Bold.woff2);
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Circe-Regular;
  src: url(../fonts/Circe-Regular.woff2);
}

@font-face {
  font-family: Circe-Bold;
  src: url(../fonts/Circe-Bold.woff2);
}

.nav {
  width: 178px;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.nav #catalog, .nav .catalog-open {
  display: none;
}

.nav .logo {
  width: 138px;
  margin: 0 auto 31px;
  padding: 20px 0 0 0;
}

.nav .logo-mob-img {
  display: none;
}

.nav .logo-img {
  margin: 0 0 4px 0;
}

.nav .logo-text {
  display: block;
  color: #808080;
  line-height: 120%;
  font-size: 8.3px;
  font-family: Circe-Regular, sans-serif;
  text-transform: uppercase;
}

.nav .line2 {
  display: none;
}

.nav .catalog-logo {
  display: none;
}

.nav .catalog-title {
  width: 100%;
  color: black;
  line-height: 24px;
  font-size: 12px;
  font-family: Circe-Bold, sans-serif;
  text-transform: uppercase;
  padding: 0 0 0 13px;
}

.nav .catalog .line1 {
  margin: 8px 0 11px 0;
  background-color: #4d4d4d;
  opacity: .2;
  width: 100%;
}

.nav .catalog #zakaz,
.nav .catalog #docum,
.nav .catalog #study,
.nav .catalog #market,
.nav .catalog #info,
.nav .catalog #profil {
  display: none;
}

.nav .catalog #zakaz:checked ~ .zakaz-list,
.nav .catalog #docum:checked ~ .docum-list,
.nav .catalog #study:checked ~ .study-list,
.nav .catalog #market:checked ~ .market-list,
.nav .catalog #info:checked ~ .info-list,
.nav .catalog #profil:checked ~ .profil-list {
  display: block;
}

.nav .catalog #zakaz:checked ~ .zakaz-label::after,
.nav .catalog #docum:checked ~ .docum-label::after,
.nav .catalog #study:checked ~ .study-label::after,
.nav .catalog #market:checked ~ .market-label::after,
.nav .catalog #info:checked ~ .info-label::after,
.nav .catalog #profil:checked ~ .profil-label::after {
  display: block;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  top: -4.5px;
  right: 13px;
}

.nav .catalog output {
  color: white;
  line-height: 0px;
  font-size: 6px;
  font-family: Circe-Bold, sans-serif;
  background-color: #E0101B;
  padding: 4px 3px;
}

.nav .catalog .zakaz-label, .nav .catalog .docum-label, .nav .catalog .study-label, .nav .catalog .market-label, .nav .catalog .info-label, .nav .catalog .profil-label {
  display: block;
  width: 156.5;
  padding-left: 13px;
  color: black;
  line-height: 24px;
  font-size: 12px;
  font-family: Circe-Bold, sans-serif;
  text-transform: uppercase;
  position: relative;
}

.nav .catalog .zakaz-label:hover, .nav .catalog .docum-label:hover, .nav .catalog .study-label:hover, .nav .catalog .market-label:hover, .nav .catalog .info-label:hover, .nav .catalog .profil-label:hover {
  cursor: pointer;
}

.nav .catalog .zakaz-label::after, .nav .catalog .docum-label::after, .nav .catalog .study-label::after, .nav .catalog .market-label::after, .nav .catalog .info-label::after, .nav .catalog .profil-label::after {
  content: url(../img/arrow.svg);
  display: block;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 9px;
  height: 5px;
  position: absolute;
  top: 17px;
  right: 13px;
}

.nav .catalog .list {
  display: none;
}

.nav .catalog .list {
  list-style-type: none;
  padding-top: 13px;
  padding-bottom: 15px;
}

.nav .catalog .list-item-link {
  display: block;
  color: black;
  line-height: 120%;
  font-size: 12px;
  font-family: Circe-Regular, sans-serif;
  text-decoration: none;
  padding: 10px 0 10px 25px;
  position: relative;
}

.nav .catalog .list-item-link output {
  color: white;
  line-height: 0px;
  font-size: 6px;
  font-family: Circe-Bold, sans-serif;
  background-color: #E0101B;
  width: 10px;
  height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: 45px;
}

.nav .catalog .list-item:hover > .list-item-link {
  background-color: white;
  color: #E0101B;
  text-decoration: underline;
}

.nav .catalog .list-item:hover > .list-item-link:active {
  text-decoration: none;
}

.container {
  width: 100%;
}

.container .header {
  margin: 12px 0 0 0;
  padding: 0 0 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 1px solid rgba(77, 77, 77, 0.2);
}

.container .header .form .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .header .form .search {
  width: 475px;
  height: 32px;
  border: 1px solid #CDCDCD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container .header .form .search .select {
  width: 157px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  color: black;
  line-height: 24px;
  font-size: 12px;
  font-family: Circe-Regular, sans-serif;
}

.container .header .form .search .select:focus, .container .header .form .search .select:active {
  outline: none;
}

.container .header .form .search #search {
  width: 268px;
  border: none;
  color: #4d4d4d;
  line-height: 24px;
  font-size: 12px;
  font-family: Circe-Regular, sans-serif;
  position: relative;
  padding-left: 20px;
  border-left: 1px solid #cdcdcd;
}

.container .header .form .search #search:focus, .container .header .form .search #search:active {
  outline: none;
}

.container .header .form .search label[for="search"] {
  padding-right: 9px;
}

.container .header .text {
  width: 186px;
  color: #4d4d4d;
  line-height: 12px;
  font-size: 12px;
  font-family: Circe-Regular, sans-serif;
}

.container .header .text b {
  color: black;
  font-family: Circe-Bold;
}

.container .header .social {
  width: 123px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .header .social .bin, .container .header .social .bell, .container .header .social .profile {
  display: block;
  border: none;
  background-color: #f5f5f5;
  border-radius: 50%;
  position: relative;
}

.container .header .social .bin output, .container .header .social .bell output, .container .header .social .profile output {
  color: white;
  line-height: 0px;
  font-size: 6px;
  font-family: Circe-Bold, sans-serif;
  background-color: #E0101B;
  border-radius: 50%;
  padding: 7px 5px 5px 5px;
  position: absolute;
  top: 0;
  right: 0;
}

.container .header .social .bin-img, .container .header .social .bell-img, .container .header .social .profile-img {
  padding: 8px;
}

.container .header .social .bin:hover, .container .header .social .bell:hover, .container .header .social .profile:hover {
  cursor: pointer;
  background-color: #E9F0F7;
}

.container .header .social .bin:focus, .container .header .social .bin:active, .container .header .social .bell:focus, .container .header .social .bell:active, .container .header .social .profile:focus, .container .header .social .profile:active {
  outline: none;
}

.container .header .social .bell {
  margin: 0 9px;
}

.container .main .bread-crumbs {
  margin: 21px 0 0 20px;
}

.container .main .bread-crumbs .list {
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .main .bread-crumbs .list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px 0 0;
}

.container .main .bread-crumbs .list .item::after {
  content: "/";
  color: #4d4d4d;
  margin-left: 10px;
}

.container .main .bread-crumbs .list .item:last-child::after {
  display: none;
}

.container .main .bread-crumbs .list .item:last-child {
  margin-right: 0;
}

.container .main .bread-crumbs .list .item .link {
  color: #E0101B;
  line-height: 120%;
  font-size: 12px;
  font-family: Circe-Regular, sans-serif;
}

.container .main .bread-crumbs .list .item .link:hover {
  text-decoration: none;
}

.container .main .bread-crumbs .list .item .link:active {
  text-decoration: underline;
}

.container .main .bread-crumbs .list .item .active {
  color: #4d4d4d;
  text-decoration: none;
}

.container .main .container {
  width: 970px;
  margin: 0 auto;
}

.container .main .container .title {
  margin: 16px 0 26px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .main .container .title-title {
  color: black;
  line-height: 24px;
  font-size: 28px;
  font-family: Circe-Bold, sans-serif;
}

.container .main .container .title-btn {
  color: white;
  line-height: 28px;
  font-size: 14px;
  font-family: Circe-Regular, sans-serif;
  background: #E0101B;
  -webkit-box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.35);
          box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.35);
  border-radius: 4px;
  border: none;
  padding: 3px 27px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container .main .container .title-btn:focus, .container .main .container .title-btn:active {
  outline: 0;
}

.container .main .container .title-btn:hover {
  cursor: pointer;
}

.container .main .container .search {
  width: 914px;
  min-height: 270px;
  padding: 0 28px;
  margin: 0 0 17px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  background: #F5F5F5;
  -webkit-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.18);
          box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.18);
  border-radius: 4px;
}

.container .main .container .search label {
  color: #4d4d4d;
  line-height: 24px;
  font-size: 14px;
  font-family: Circe-Bold, sans-serif;
  margin: 0 0 6px 0;
}

.container .main .container .search .number {
  width: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 10px 0 0;
}

.container .main .container .search .number #number {
  width: 434px;
  padding: 0px 0px 0px 9px;
  color: #4d4d4d;
  line-height: 24px;
  font-size: 12px;
  font-family: Circe-Regular, sans-serif;
}

.container .main .container .search .period {
  width: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .main .container .search .period-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .main .container .search .period-inputs-text {
  color: black;
  line-height: 24px;
  font-size: 12px;
  font-family: Circe-Regular, sans-serif;
}

.container .main .container .search .period-inputs #date {
  width: 187px;
  padding-left: 13px;
  color: #4d4d4d;
  line-height: 22px;
  font-size: 12px;
  font-family: Circe-Regular, sans-serif;
}

.container .main .container .search .status {
  width: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .main .container .search .status #status {
  width: 447px;
  color: #4d4d4d;
  line-height: 22px;
  font-size: 12px;
  font-family: Circe-Regular, sans-serif;
}

.container .main .container .search .status #status option {
  padding-left: 13px;
}

.container .main .container .search .status #status:focus, .container .main .container .search .status #status:active {
  outline: none;
}

.container .main .container .search .organiz {
  width: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .main .container .search .organiz #organiz {
  width: 447px;
  color: #4d4d4d;
  line-height: 22px;
  font-size: 12px;
  font-family: Circe-Regular, sans-serif;
}

.container .main .container .search .organiz #organiz option {
  padding-left: 13px;
}

.container .main .container .search .organiz #organiz:focus, .container .main .container .search .organiz #organiz:active {
  outline: none;
}

.container .main .container .search .submit {
  color: white;
  line-height: 38px;
  font-size: 14px;
  font-family: Circe-Regular, sans-serif;
  padding: 0 35px;
  background: #E0101B;
  -webkit-box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.35);
          box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.35);
  border-radius: 4px;
  border: none;
}

.container .main .container .search .submit:focus, .container .main .container .search .submit:active {
  outline: none;
}

.container .main .container .search .submit:hover {
  cursor: pointer;
}

.container .main .container .list {
  width: 100%;
  margin: 0 0 34px 0;
}

.container .main .container .list-title {
  width: 100%;
  border-bottom: 2px solid #C4C4C4;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.container .main .container .list-title .select {
  display: block;
  width: 148px;
  height: 36px;
  padding-top: 12px;
  text-decoration: none;
  text-align: center;
  color: black;
  line-height: 24px;
  font-size: 12px;
  font-family: Circe-Bold, sans-serif;
}

.container .main .container .list-title .select span {
  border-bottom: 1px dotted #E0101B;
}

.container .main .container .list-title .active {
  text-decoration: none;
  background-color: white;
  border-bottom: 2px solid #E0101B;
}

.container .main .container .list .table {
  width: 100%;
  margin: 0 0 23px 0;
}

.container .main .container .list .table .line {
  border-bottom: 1px solid #C4C4C4;
}

.container .main .container .list .table .line td:nth-child(1) {
  width: 72px;
}

.container .main .container .list .table .line td:nth-child(2) {
  width: 51px;
}

.container .main .container .list .table .line td:nth-child(3) {
  width: 62px;
}

.container .main .container .list .table .line td:nth-child(4) {
  width: 76px;
}

.container .main .container .list .table .line td:nth-child(5) {
  width: 75px;
}

.container .main .container .list .table .line td:nth-child(6) {
  width: 63px;
}

.container .main .container .list .table .line td:nth-child(7) {
  width: 53px;
}

.container .main .container .list .table .line td:nth-child(8) {
  width: 61px;
}

.container .main .container .list .table .line td:nth-child(9) {
  width: 97px;
}

.container .main .container .list .table tr {
  height: 40px;
  padding: 8px 0;
}

.container .main .container .list .table tr .text {
  color: #4d4d4d;
  line-height: 14px;
  font-size: 12px;
  font-family: Circe-Regular, sans-serif;
  padding-left: 14px;
}

.container .main .container .list .table tr .number {
  color: black;
  line-height: 24px;
  font-size: 12px;
  font-family: Circe-Regular, sans-serif;
  padding-left: 14px;
}

.container .main .container .list .table tr .green {
  color: #4AAE65;
  font-family: Circe-Bold, sans-serif;
}

.container .main .container .list .table tr .red {
  color: #E0101B;
  font-family: Circe-Bold, sans-serif;
}

.container .main .container .list .table tr .blue {
  color: #437EB6;
  font-family: Circe-Bold, sans-serif;
}

.container .main .container .list .table tr .bold {
  font-family: Circe-Bold, sans-serif;
}

.container .main .container .list .table tr:first-child {
  padding: 14px 0 9px;
}

.container .main .container .list .table tr:first-child td:first-child {
  width: 119px;
}

.container .main .container .list .table tr td:first-child {
  width: 119px;
}

.container .main .container .list .table tr:nth-child(2n) {
  background-color: #f5f5f5;
}

.container .main .container .list .pigmintation {
  width: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .main .container .list .pigmintation .page {
  color: #4d4d4d;
  line-height: 18px;
  font-size: 12px;
  font-family: Circe-Regular, sans-serif;
  opacity: .5;
  text-decoration: none;
}

.container .main .container .list .pigmintation .active {
  color: #E0101B;
  font-family: Circe-Bold, sans-serif;
}

.container .main .container .list .pigmintation .arrow-left {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@font-face {
  .container .main .container {
    font-family: Circe-Regular;
    src: url(../fonts/Circe-Regular.woff2);
  }
}

@font-face {
  .container .main .container {
    font-family: Circe-Bold;
    src: url(../fonts/Circe-Bold.woff2);
  }
}

.container .main .container .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 41px 0;
}

.container .main .container .banner .img {
  position: relative;
}

.container .main .container .banner .img .text {
  color: white;
  line-height: 24px;
  font-size: 24px;
  font-family: Circe-Bold, sans-serif;
  text-transform: uppercase;
  position: absolute;
  top: 81px;
  left: 41.64px;
}

.container .main .container .banner .arrow-left {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (min-width: 1171px) {
  body {
    width: 1170px;
    margin: 0 auto;
  }
}

@media (max-width: 965px) {
  .container .header {
    padding: 0 3%;
    margin-left: auto;
    margin-right: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container .header .form {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .container .header .social {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .container .header .text {
    width: 296px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 785px) {
  .container .header .form .search {
    width: 407px;
  }
  .container .header .form .search .input #search {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .header .form .search .select {
    width: 20.4%;
  }
}

@media (max-width: 715px) {
  .container .header .form .search {
    width: 357px;
  }
  .container .header .form .search .input #search {
    width: 150px;
  }
}

@media (max-width: 655px) {
  .container .header .form .search {
    width: 307px;
  }
  .container .header .form .search .select {
    width: 137px;
  }
  .container .header .form .search .input #search {
    width: 120px;
  }
}

@media (max-width: 600px) {
  body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .nav {
    width: 132px;
    min-height: 55px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 75% 0 15px;
    border-bottom: 1px solid rgba(77, 77, 77, 0.2);
  }
  .nav .catalog-open {
    display: block;
    margin: 0 16px 0 0;
  }
  .nav .logo {
    padding: 0;
    margin: 0 auto;
  }
  .nav .logo-mob-img {
    display: block;
    margin: 0 0 3px 0;
  }
  .nav .logo-img {
    display: none;
  }
  .nav .logo-text {
    font-size: 5.6px;
  }
  .nav #catalog:checked ~ .catalog {
    display: block;
    position: absolute;
    left: 0;
  }
  .nav .catalog {
    display: none;
    position: static;
    top: 0;
    left: -999999%;
    background-color: #f5f5f5;
    width: 100%;
    min-height: 100vh;
    z-index: 3;
  }
  .nav .catalog-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 13px 0 0 14.55px;
    margin: 0 0 20px 0;
  }
  .nav .catalog-logo .catalog-close {
    margin: 0 16.32px 0 0;
  }
  .nav .catalog .line1 {
    width: 98%;
  }
  .nav .catalog .zakaz-label,
  .nav .catalog .docum-label,
  .nav .catalog .study-label,
  .nav .catalog .market-label,
  .nav .catalog .info-label,
  .nav .catalog .profil-label {
    width: 95%;
  }
  .nav .catalog .zakaz-label .total,
  .nav .catalog .docum-label .total,
  .nav .catalog .study-label .total,
  .nav .catalog .market-label .total,
  .nav .catalog .info-label .total,
  .nav .catalog .profil-label .total {
    right: 325px;
    top: -5px;
  }
  .nav .catalog .list-item-link output {
    left: 90px;
  }
  .container .header {
    display: block;
    width: 123px;
    border: none;
    position: absolute;
    top: 0px;
    right: 0;
  }
  .container .header .form {
    display: none;
  }
  .container .header .text {
    display: none;
  }
  .container .main {
    width: 100%;
  }
}

@media (max-width: 470px) {
  .nav {
    padding-right: 68%;
  }
}

@media (max-width: 425px) {
  .nav {
    padding: 0 64% 0 15px;
  }
  .nav .catalog .zakaz-label,
  .nav .catalog .docum-label,
  .nav .catalog .study-label,
  .nav .catalog .market-label,
  .nav .catalog .info-label,
  .nav .catalog .profil-label {
    width: 95%;
  }
  .container .header {
    width: 123px;
  }
}

@media (max-width: 390px) {
  .nav {
    padding-right: 62%;
  }
}

@media (max-width: 375px) {
  .nav {
    padding-right: 60%;
  }
}

@media (max-width: 350px) {
  .nav {
    padding-right: 57%;
  }
}

@media (max-width: 325px) {
  .nav {
    padding-right: 54%;
  }
}
