@import '_needs.scss';

.nav{
    width: 178px;
    min-height: 100vh;
    background-color: #f5f5f5;
    #catalog, .catalog-open{
        display: none;
    }

    .logo{
        width: 138px;
        margin: 0 auto 31px;
        padding: 20px 0 0 0;
        &-mob-img{
            display: none;
        }

        &-img{
            margin: 0 0 4px 0;
        }

        &-text{
            display: block;
            @include txt($grey, 120%, 8.3px, $C400);
            text-transform: uppercase;
        }
    }

    .line2{
        display: none;
    }
    .catalog{
        &-logo{
            display: none;
        }

        &-title{
            width: 100%;
            @include txt(black, 24px, 12px, $C800);
            text-transform: uppercase;
            padding: 0 0 0 13px;
        }
        .line1{
            margin: 8px 0 11px 0;
            background-color: $c1;
            opacity: .2;
            width: 100%;
        }

        #zakaz,
        #docum,
        #study,
        #market,
        #info,
        #profil{
            display: none;
        }

        #zakaz:checked~.zakaz-list,
        #docum:checked~.docum-list,
        #study:checked~.study-list,
        #market:checked~.market-list,
        #info:checked~.info-list,
        #profil:checked~.profil-list{
            display: block;
        }
        
        #zakaz:checked~.zakaz-label::after,
        #docum:checked~.docum-label::after,
        #study:checked~.study-label::after,
        #market:checked~.market-label::after,
        #info:checked~.info-label::after,
        #profil:checked~.profil-label::after{
            display: block;
            transform: rotate(0deg);
            top: -4.5px;
            right: 13px;
        }

        output{
            @include txt(white, 0px, 6px, $C800);
            background-color: $c2;
            padding: 4px 3px;
        }

        .zakaz-label, .docum-label, .study-label, .market-label, .info-label, .profil-label{
            display: block;
            width: 156.5;
            padding-left: 13px;
            @include txt(black, 24px, 12px, $C800);
            text-transform: uppercase;
            position: relative;

            &:hover{
                cursor: pointer;
            }

            &::after{
                content: url(../img/arrow.svg);
                display: block;
                transform: rotate(180deg);
                width: 9px;
                height: 5px;
                position: absolute;
                top: 17px;
                right: 13px;
            }
        }

        .list{
            display: none;
        }

        .list{
            list-style-type: none;
            padding-top: 13px;
            padding-bottom: 15px;
            &-item{
                &-link{
                    display: block;
                    @include txt(black, 120%, 12px, $C400);
                    text-decoration: none;
                    padding: 10px 0 10px 25px;
                    position: relative;

                    output{
                        @include txt(white, 0px, 6px, $C800);
                        background-color: $c2;
                        width: 10px;
                        height: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        position: absolute;
                        top: 0px;
                        right: 45px;
                    }
                }

                &:hover>.list-item-link{
                    background-color: white;
                    color: $c2;
                    text-decoration: underline;
                }

                &:hover>.list-item-link:active{
                    text-decoration: none;
                }
            }
        }
    }
}