@import '_needs.scss';

body{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
}

*{
    padding: 0;
    margin: 0;
}

@import '_left-menu.scss';

.main{
    width: 100%;

    @import '_header.scss';
}

@media (min-width: 1901px){
    body{
        width: 1900px;
        margin: 0 auto;
    }
}

@media (max-width: 950px){
    .main{
        .header{
            .text{
                display: none;
            }
        }
    }
}

@media (max-width: 768px){
    .main{
        .header{
            .form{
                .search{
                    width: 345px;
                    .select{
                        width: 20.4%
                    }
                    #search{
                        width: 18%;
                    }
                }
            }
        }
    }
}

//Telephone
@media (max-width: 425px){
    body{
        overflow-x: hidden;
    }

    .nav{
        width: 132px;
        min-height: 55px;
        background-color: white;
        display: flex;
        align-items: center;
        padding: 0 33% 0 15px;
        border-bottom: 1px solid rgba(77, 77, 77, .2);
        

        .catalog-open{
            display: block;
            margin: 0 16px 0 0;
        }

        .logo{
            padding: 0;
            margin: 0;

            &-mob-img{
                display: block;
                margin: 0 0 3px 0;
            }

            &-img{
                display: none;
            }

            &-text{
                font-size: 5.6px;
            }
        }

        #catalog:checked ~ .catalog{
            display: block;
            position: absolute;
            left: 0;
        }

        .catalog{
            display: none;
            position: static;
            top: 0;
            left: -999999%;
            background-color: #f5f5f5;
            width: 100%;
            min-height: 100vh;
            z-index: 3;

            &-logo{
                display: flex;
                align-items: center;
                padding: 13px 0 0 14.55px;
                margin: 0 0 20px 0;

                .catalog-close{
                    margin: 0 16.32px 0 0;
                }
            }

            .line1{
                width: 98%;
            }

            
            .zakaz-label, .docum-label, .study-label, .market-label, .info-label, .profil-label{
                width: 80%;
                .total{
                    right: 325px;
                    top: -5px;
                }
            }

            .list{
                &-item{
                    &-link{
                        output{
                            left: 90px;
                        }
                    }
                }
            }
        }
    }

    .main{
        width: 100%;
        .header{
            display: block;
            width: 100%;
            .form{
                display: none;
            }
        }
    }
}

@media (max-width: 400px){
    .nav{
        padding-right: 20%;
    }
}

@media (max-width: 393px){
    .nav{
        padding-right: 25%;
    }
}

@media (max-width: 357px){
    .nav{
        padding-right: 20%;
    }
}

@media (max-width: 330px){
    .nav{
        padding-right: 15%;
    }
}

@media (max-width: 320px){
    .nav{
        padding-right: 10%;
    }
}